.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

body, html {
  height: 100%;
}

.app {
  height: 100%;
}

.Login{
  height: 100%;
}

.asd{
  height: 100%;
}

#root{
  height: 100%;
}

.Allchart .row{
  margin-top: 12px;
  margin-bottom: 12px;
}